<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attitudes_count</key>
	<integer>1</integer>
	<key>created_at</key>
	<string>刚刚</string>
	<key>idstr</key>
	<string>3824316137609270</string>
	<key>children</key>
	<array>
		<dict>
			<key>thumbnail_pic</key>
			<string>http://ww4.sinaimg.cn/thumbnail/bd297795gw1eqhwikf145g208c0b4kgy.gif</string>
			<key>name</key>
			<string>bbb</string>
		</dict>
		<dict>
			<key>thumbnail_pic</key>
			<string>http://ww5.sinaimg.cn/thumbnail/bd297795gw1eqhwikf145g208c0b4kgy.gif</string>
			<key>name</key>
			<string>sss</string>
		</dict>
		<dict>
			<key>thumbnail_pic</key>
			<string>http://ww6.sinaimg.cn/thumbnail/bd297795gw1eqhwikf145g208c0b4kgy.gif</string>
			<key>name</key>
			<string>ccc</string>
		</dict>
	</array>
	<key>source</key>
	<string>来自即刻笔记</string>
	<key>User</key>
	<dict>
		<key>name</key>
		<string>军哥微信:maitang1987</string>
		<key>age</key>
		<integer>32</integer>
		<key>sex</key>
		<true/>
	</dict>
</dict>
</plist>
